{% extends 'base.html.twig' %}
{% block title %}
    Bienvenue sur mon blog !
{% endblock %}
{% block body %}
    <h2>Nouveau billet</h2>
    {{ form_start(newTicketForm) }}
    <div>
        {{ form_label(newTicketForm.titre) }}
    </div>
    {{ form_widget(newTicketForm.titre) }}
    <div>
        {{ form_label(newTicketForm.content) }}
    </div>
    {{ form_widget(newTicketForm.content) }}
    {{ form_row(newTicketForm.validate, {'label' : 'Valider'})}}
    {{ form_end(newTicketForm) }}
    <a href="/">Retour à l'accueil</a>
{% endblock %}
