<section class="post">
    <h1><a href="{{ post.getUrlAlias() }}">{{ post.titre }}</a></h1>
    {% if post.getId() is not null %}
    <a href="/editAction/{{ post.getId() }}">Editer</a>
    <a href="/deleteAction/{{ post.getId() }}">Supprimer</a>
    {% endif %}
    <p>{{ post.getFormattedPublishedDate() }}</p>
    <p>{{ post.content }}</p>
</section>
